* {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-seriff';
}
.nav-li-left {
    float: left;
    font-size: x-large;
    background-color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: white;
}
.nav-li-right {
    float: right;
    font-size: small;
    color: #666666;
}
.nav-link {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.nav_ul {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0 25% 0 25%;
    overflow: hidden;
}